 // menu-button
.all7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
// hover
.button4{
    background: #fff;
    border: 1.3px solid #000;
    color: #000;
}
.button4:hover{
    background: #000;
    color: #fff;
}
// responsive
@media only screen and (max-width:418px){
    .all7{
        justify-content: center;
    }
}